<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="/css/bootstrap-social.css" th:href="@{/css/bootstrap-social.css}">
	<title>Pictgram</title>
</head>

<body>
	<div th:if="${hasMessage}" class="alert alert-dismissible fade show" th:classappend="${class}" role='alert'>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><span
			th:text="${message}"></span>
	</div>
	<nav layout:replace="~{layouts/common :: nav}"></nav>
	<div layout:fragment="contents"></div>
	<footer class="footer" th:if="${hasFooter}">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div
									style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:280px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
									<table>
										<tr>
											<td style="width:128px"><a
													href="https://hb.afl.rakuten.co.jp/ichiba/3f219a3f.e07d020c.3f219a40.cf48c460/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fbookguard1%2F9784844336778_02_4844336770%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
													target="_blank" rel="nofollow sponsored noopener"
													style="word-wrap:break-word;"><img
														src="https://hbb.afl.rakuten.co.jp/hgb/3f219a3f.e07d020c.3f219a40.cf48c460/?me_id=1313188&item_id=14445161&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fbookguard1%2Fcabinet%2Fasin00154%2F4844336770.jpg%3F_ex%3D128x128&s=128x128&t=picttext"
														border="0" style="margin:2px"
														alt="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"
														title="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"></a>
											</td>
											<td style="vertical-align:top;width:136px;display: block;">
												<p
													style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
													<a href="https://hb.afl.rakuten.co.jp/ichiba/3f219a3f.e07d020c.3f219a40.cf48c460/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fbookguard1%2F9784844336778_02_4844336770%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
														target="_blank" rel="nofollow sponsored noopener"
														style="word-wrap:break-word;">【中古】スッキリわかる Java入門 実践編 第2版
														(スッキリシリーズ) [単行本（ソフトカバー）] 中山
														清喬「1000円ポッキリ」「送料無料」「買い回り」</a><br><span>価格：1,000円（税込、送料別)</span>
													<span style="color:#BBB">(2024/8/25時点)</span>
												</p>
											</td>
										</tr>
									</table>
								</div><br>
								<p
									style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word">
								</p>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-4">
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div
									style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:280px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
									<table>
										<tr>
											<td style="width:128px"><a
													href="https://hb.afl.rakuten.co.jp/ichiba/3f21aa69.1384f1e7.3f21aa6b.4549a8dd/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Flakshmistore%2Fqnmd1189%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
													target="_blank" rel="nofollow sponsored noopener"
													style="word-wrap:break-word;"><img
														src="https://hbb.afl.rakuten.co.jp/hgb/3f21aa69.1384f1e7.3f21aa6b.4549a8dd/?me_id=1427535&item_id=10000009&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Flakshmistore%2Fcabinet%2F10865184%2Fimgrc0088502698.jpg%3F_ex%3D128x128&s=128x128&t=picttext"
														border="0" style="margin:2px"
														alt="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"
														title="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"></a>
											</td>
											<td style="vertical-align:top;width:136px;display: block;">
												<p
													style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
													<a href="https://hb.afl.rakuten.co.jp/ichiba/3f21aa69.1384f1e7.3f21aa6b.4549a8dd/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Flakshmistore%2Fqnmd1189%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
														target="_blank" rel="nofollow sponsored noopener"
														style="word-wrap:break-word;">【新品】ノートパソコン パソコン 第13世代CPU搭載
														Windows11 Office付き 初期設定済 14.1/15.6インチワイド液晶 フルHD cpu
														i7/N95/N5095/J4025 メモリ 8GB 12GB 16GB 32GB 新品 SSD 128GB 256GB
														512GB 1TB NVMe PCIe3.0 USB3.0 HDMI
														JIS</a><br><span>価格：24,210円～（税込、送料無料)</span> <span
														style="color:#BBB">(2024/8/25時点)</span>
												</p>
											</td>
										</tr>
									</table>
								</div><br>
								<p
									style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word">
								</p>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-4">
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div
									style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:280px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
									<table>
										<tr>
											<td style="width:128px"><a
													href="https://hb.afl.rakuten.co.jp/ichiba/3f21ad0f.e64fd39b.3f21ad10.e7087920/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fmatsuyoshi%2Fpremium-steakset%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
													target="_blank" rel="nofollow sponsored noopener"
													style="word-wrap:break-word;"><img
														src="https://hbb.afl.rakuten.co.jp/hgb/3f21ad0f.e64fd39b.3f21ad10.e7087920/?me_id=1282615&item_id=10002523&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fmatsuyoshi%2Fcabinet%2Fflick%2Fsteak4.jpg%3F_ex%3D128x128&s=128x128&t=picttext"
														border="0" style="margin:2px"
														alt="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"
														title="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"></a>
											</td>
											<td style="vertical-align:top;width:136px;display: block;">
												<p
													style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
													<a href="https://hb.afl.rakuten.co.jp/ichiba/3f21ad0f.e64fd39b.3f21ad10.e7087920/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fmatsuyoshi%2Fpremium-steakset%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
														target="_blank" rel="nofollow sponsored noopener"
														style="word-wrap:break-word;">＼1,000円OFFクーポン／ 松阪牛 ステーキ肉
														牛肉【おまかせ4種】ステーキ 2024 お中元ギフト 敬老の日 松良 敬老 プレゼント 送料無料 誕生日 人気 通販 和牛
														松坂牛 食べ物 ステーキセット 福袋 肉 お肉 冷凍 お祝い 内祝い お返し お取り寄せグルメ
														お歳暮</a><br><span>価格：7,980円（税込、送料無料)</span> <span
														style="color:#BBB">(2024/8/25時点)</span>
												</p>
											</td>
										</tr>
									</table>
								</div><br>
								<p
									style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word">
								</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/scripts/method-convert.js" th:src="@{/scripts/method-convert.js}"></script>
	<script>
		$(function () {
			convertMethod('.convert');
			$(".alert").fadeOut(5000);
		});
	</script>
</body>

</html>